.loggedFiled{
    background-color: rgb(84, 90, 92);
     height: 350px;
     width: 400px;
     margin: auto;
     text-align: center;
     line-height: 40px;
     border-radius: 50px;
     
 }
 
 .loggedFiled h3 {
     line-height: 60px;
     padding-top: 85px;
 }
 
 .logInSection{
     background-color: #681bc71c;
     background-image: url('https://i.ibb.co/c17cQmr/1567666.png');
     margin-top: -10px;
     height: 600px;
 }
 section.logInSection h1 {
     text-align: center;
     padding: 25px;
     color:  rgb(22, 16, 4);
 }
 
 @media only screen and (max-width: 470px) {
     .loggedFiled {
       width: 90%;   
     }
   }
 